SMTP_HOST=smtpout.secureserver.net
SMTP_PORT=465
SMTP_USER=your-go-daddy-email@your-domain.com
SMTP_PASSWORD=your-go-daddy-email-password
CONTACT_TO_EMAIL=info@zurilconsult.com
CONTACT_FROM_EMAIL=your-go-daddy-email@your-domain.com
