SMTP_HOST=smtpout.secureserver.net
SMTP_PORT=465
SMTP_USER=adika.okelo@zuriconsult.com
SMTP_PASSWORD=replace-with-a-new-mailbox-password
CONTACT_TO_EMAIL=adika.okelo@zuriconsult.com
CONTACT_FROM_EMAIL=adika.okelo@zuriconsult.com
